[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = {extras = ["toml"],version = "*"}
pytest-cov = "*"

[packages]
app = "*"
alembic = "*"
pydantic = {extras = ["email"],version = "*"}
psycopg2 = "*"
python-jose = "*"
passlib = "*"
fastapi = "*"
uvicorn = "*"
bcrypt = "*"
pytest = "*"
python-multipart = "*"
raven = "*"
celery = "*"
sentry-sdk = "==0.14.4"
emails = "*"
jinja2 = "*"
pytest-bdd = "*"
sqlalchemy-utils = "*"
pytest-cov = "*"
faker = "*"
factory-boy = "*"
selenium = "*"

[requires]
python_version = "3.8"
